:root {
  --global-color-gray-50: #f2f4f5;
  --global-color-gray-100: #e4e7e9;
  --global-color-gray-200: #c9cfd2;
  --global-color-gray-300: #adb7bc;
  --global-color-gray-400: #929fa5;
  --global-color-gray-500: #77878f;
  --global-color-gray-600: #5f6c72;
  --global-color-gray-700: #475156;
  --global-color-gray-800: #303639;
  --global-color-gray-900: #191c1f;
  --global-color-gray-00: #ffffff;
  --global-color-primary-50: #5eff00;
  --global-color-primary-100: #ffe7d6;
  --global-color-primary-200: #ffcead;
  --global-color-primary-300: #ffb685;
  --global-color-primary-400: #ff9d5c;
  --global-color-primary-500: #fa8232;
  --global-color-primary-600: #de732d;
  --global-color-primary-700: #99501f;
  --global-color-primary-800: #663514;
  --global-color-primary-900: #331b0a;
  --global-color-secondary-50: #eaf6fe;
  --global-color-secondary-100: #d5edfd;
  --global-color-secondary-200: #abdbfa;
  --global-color-secondary-300: #81c9f8;
  --global-color-secondary-400: #57b7f5;
  --global-color-secondary-500: #2da5f3;
  --global-color-secondary-600: #2484c2;
  --global-color-secondary-700: #1b6392;
  --global-color-secondary-800: #124261;
  --global-color-secondary-900: #092131;
  --global-color-success-50: #eaf7e9;
  --global-color-success-100: #d5f0d3;
  --global-color-success-200: #abe0a7;
  --global-color-success-300: #81d17c;
  --global-color-success-400: #57c150;
  --global-color-success-500: #2db224;
  --global-color-success-600: #248e1d;
  --global-color-success-700: #1b6b16;
  --global-color-success-800: #12470e;
  --global-color-success-900: #092407;
  --global-color-warning-50: #fdfae7;
  --global-color-warning-100: #fbf4ce;
  --global-color-warning-200: #f7e99e;
  --global-color-warning-300: #f3de6d;
  --global-color-warning-400: #efd33d;
  --global-color-warning-500: #ebc80c;
  --global-color-warning-600: #bca00a;
  --global-color-warning-700: #8d7807;
  --global-color-warning-800: #5e5005;
  --global-color-warning-900: #2f2802;
  --global-color-danger-50: #fdeeee;
  --global-color-danger-100: #fcdede;
  --global-color-danger-200: #f8bcbc;
  --global-color-danger-300: #f59b9b;
  --global-color-danger-400: #f17979;
  --global-color-danger-500: #ee5858;
  --global-color-danger-600: #be4646;
  --global-color-danger-700: #8f3535;
  --global-color-danger-800: #5f2323;
  --global-color-danger-900: #301212;
  --global-effect-dropdown-shadow: 0px 8px 40px 0px #0000001f;
  --global-font-family-public-sans: Public Sans;
  --global-line-height-0: 72px;
  --global-line-height-1: 64px;
  --global-line-height-2: 56px;
  --global-line-height-3: 48px;
  --global-line-height-4: 44px;
  --global-line-height-5: 40px;
  --global-line-height-6: 32px;
  --global-line-height-7: 32px;
  --global-line-height-8: 56px;
  --global-line-height-9: 48px;
  --global-line-height-10: 28px;
  --global-line-height-11: 24px;
  --global-line-height-12: 20px;
  --global-line-height-13: 150%;
  --global-line-height-14: 16px;
  --global-line-height-15: 32px;
  --global-line-height-16: 28px;
  --global-line-height-17: 28px;
  --global-line-height-18: 28px;
  --global-line-height-19: 24px;
  --global-line-height-20: 24px;
  --global-line-height-21: 24px;
  --global-line-height-22: 24px;
  --global-line-height-23: 24px;
  --global-line-height-24: 24px;
  --global-line-height-25: 20px;
  --global-line-height-26: 20px;
  --global-line-height-27: 20px;
  --global-line-height-28: 16px;
  --global-line-height-29: 16px;
  --global-line-height-30: 16px;
  --global-line-height-31: 12px;
  --global-line-height-32: 12px;
  --global-line-height-33: 12px;
  --global-font-weight-public-sans-0: SemiBold;
  --global-font-weight-public-sans-1: Bold;
  --global-font-weight-public-sans-2: Medium;
  --global-font-weight-public-sans-3: Regular;
  --global-font-size-0: 11px;
  --global-font-size-1: 12px;
  --global-font-size-2: 14px;
  --global-font-size-3: 16px;
  --global-font-size-4: 18px;
  --global-font-size-5: 20px;
  --global-font-size-6: 24px;
  --global-font-size-7: 28px;
  --global-font-size-8: 32px;
  --global-font-size-9: 36px;
  --global-font-size-10: 40px;
  --global-font-size-11: 48px;
  --global-font-size-12: 56px;
  --global-font-size-13: 64px;
  --global-letter-spacing-0: 0%;
  --global-letter-spacing-1: 1.2%;
  --global-paragraph-spacing-0: 0px;
  --global-typography-01-fontfamily: Public Sans;
  --global-typography-01-fontweight: SemiBold;
  --global-typography-01-lineheight: 72px;
  --global-typography-01-fontsize: 64px;
  --global-typography-01-letterspacing: 0%;
  --global-typography-01-paragraphspacing: 0px;
  --global-typography-01-paragraphindent: 0px;
  --global-typography-01-textcase: none;
  --global-typography-01-textdecoration: none;
  --global-typography-02-fontfamily: Public Sans;
  --global-typography-02-fontweight: SemiBold;
  --global-typography-02-lineheight: 64px;
  --global-typography-02-fontsize: 56px;
  --global-typography-02-letterspacing: 0%;
  --global-typography-02-paragraphspacing: 0px;
  --global-typography-02-paragraphindent: 0px;
  --global-typography-02-textcase: none;
  --global-typography-02-textdecoration: none;
  --global-typography-03-fontfamily: Public Sans;
  --global-typography-03-fontweight: SemiBold;
  --global-typography-03-lineheight: 56px;
  --global-typography-03-fontsize: 48px;
  --global-typography-03-letterspacing: 0%;
  --global-typography-03-paragraphspacing: 0px;
  --global-typography-03-paragraphindent: 0px;
  --global-typography-03-textcase: none;
  --global-typography-03-textdecoration: none;
  --global-typography-04-fontfamily: Public Sans;
  --global-typography-04-fontweight: SemiBold;
  --global-typography-04-lineheight: 48px;
  --global-typography-04-fontsize: 40px;
  --global-typography-04-letterspacing: 0%;
  --global-typography-04-paragraphspacing: 0px;
  --global-typography-04-paragraphindent: 0px;
  --global-typography-04-textcase: none;
  --global-typography-04-textdecoration: none;
  --global-typography-05-fontfamily: Public Sans;
  --global-typography-05-fontweight: SemiBold;
  --global-typography-05-lineheight: 44px;
  --global-typography-05-fontsize: 36px;
  --global-typography-05-letterspacing: 0%;
  --global-typography-05-paragraphspacing: 0px;
  --global-typography-05-paragraphindent: 0px;
  --global-typography-05-textcase: none;
  --global-typography-05-textdecoration: none;
  --global-typography-01-fontfamily: Public Sans;
  --global-typography-01-fontweight: SemiBold;
  --global-typography-01-lineheight: 40px;
  --global-typography-01-fontsize: 32px;
  --global-typography-01-letterspacing: 0%;
  --global-typography-01-paragraphspacing: 0px;
  --global-typography-01-paragraphindent: 0px;
  --global-typography-01-textcase: none;
  --global-typography-01-textdecoration: none;
  --global-typography-02-fontfamily: Public Sans;
  --global-typography-02-fontweight: SemiBold;
  --global-typography-02-lineheight: 32px;
  --global-typography-02-fontsize: 28px;
  --global-typography-02-letterspacing: 0%;
  --global-typography-02-paragraphspacing: 0px;
  --global-typography-02-paragraphindent: 0px;
  --global-typography-02-textcase: none;
  --global-typography-02-textdecoration: none;
  --global-typography-03-fontfamily: Public Sans;
  --global-typography-03-fontweight: SemiBold;
  --global-typography-03-lineheight: 32px;
  --global-typography-03-fontsize: 24px;
  --global-typography-03-letterspacing: 0%;
  --global-typography-03-paragraphspacing: 0px;
  --global-typography-03-paragraphindent: 0px;
  --global-typography-03-textcase: none;
  --global-typography-03-textdecoration: none;
  --global-typography-06-fontfamily: Public Sans;
  --global-typography-06-fontweight: Bold;
  --global-typography-06-lineheight: 56px;
  --global-typography-06-fontsize: 16px;
  --global-typography-06-letterspacing: 1.2%;
  --global-typography-06-paragraphspacing: 0px;
  --global-typography-06-paragraphindent: 0px;
  --global-typography-06-textcase: uppercase;
  --global-typography-06-textdecoration: none;
  --global-typography-07-fontfamily: Public Sans;
  --global-typography-07-fontweight: Bold;
  --global-typography-07-lineheight: 48px;
  --global-typography-07-fontsize: 14px;
  --global-typography-07-letterspacing: 1.2%;
  --global-typography-07-paragraphspacing: 0px;
  --global-typography-07-paragraphindent: 0px;
  --global-typography-07-textcase: uppercase;
  --global-typography-07-textdecoration: none;
  --global-typography-01-fontfamily: Public Sans;
  --global-typography-01-fontweight: Medium;
  --global-typography-01-lineheight: 28px;
  --global-typography-01-fontsize: 18px;
  --global-typography-01-letterspacing: 0%;
  --global-typography-01-paragraphspacing: 0px;
  --global-typography-01-paragraphindent: 0px;
  --global-typography-01-textcase: uppercase;
  --global-typography-01-textdecoration: none;
  --global-typography-02-fontfamily: Public Sans;
  --global-typography-02-fontweight: Medium;
  --global-typography-02-lineheight: 24px;
  --global-typography-02-fontsize: 16px;
  --global-typography-02-letterspacing: 0%;
  --global-typography-02-paragraphspacing: 0px;
  --global-typography-02-paragraphindent: 0px;
  --global-typography-02-textcase: uppercase;
  --global-typography-02-textdecoration: none;
  --global-typography-03-fontfamily: Public Sans;
  --global-typography-03-fontweight: Medium;
  --global-typography-03-lineheight: 20px;
  --global-typography-03-fontsize: 14px;
  --global-typography-03-letterspacing: 0%;
  --global-typography-03-paragraphspacing: 0px;
  --global-typography-03-paragraphindent: 0px;
  --global-typography-03-textcase: uppercase;
  --global-typography-03-textdecoration: none;
  --global-typography-04-fontfamily: Public Sans;
  --global-typography-04-fontweight: Medium;
  --global-typography-04-lineheight: 150%;
  --global-typography-04-fontsize: 12px;
  --global-typography-04-letterspacing: 0%;
  --global-typography-04-paragraphspacing: 0px;
  --global-typography-04-paragraphindent: 0px;
  --global-typography-04-textcase: uppercase;
  --global-typography-04-textdecoration: none;
  --global-typography-05-fontfamily: Public Sans;
  --global-typography-05-fontweight: Medium;
  --global-typography-05-lineheight: 16px;
  --global-typography-05-fontsize: 11px;
  --global-typography-05-letterspacing: 0%;
  --global-typography-05-paragraphspacing: 0px;
  --global-typography-05-paragraphindent: 0px;
  --global-typography-05-textcase: uppercase;
  --global-typography-05-textdecoration: none;
  --global-typography-xxl-400-fontfamily: Public Sans;
  --global-typography-xxl-400-fontweight: Regular;
  --global-typography-xxl-400-lineheight: 32px;
  --global-typography-xxl-400-fontsize: 24px;
  --global-typography-xxl-400-letterspacing: 0%;
  --global-typography-xxl-400-paragraphspacing: 0px;
  --global-typography-xxl-400-paragraphindent: 0px;
  --global-typography-xxl-400-textcase: none;
  --global-typography-xxl-400-textdecoration: none;
  --global-typography-xl-400-fontfamily: Public Sans;
  --global-typography-xl-400-fontweight: Regular;
  --global-typography-xl-400-lineheight: 28px;
  --global-typography-xl-400-fontsize: 20px;
  --global-typography-xl-400-letterspacing: 0%;
  --global-typography-xl-400-paragraphspacing: 0px;
  --global-typography-xl-400-paragraphindent: 0px;
  --global-typography-xl-400-textcase: none;
  --global-typography-xl-400-textdecoration: none;
  --global-typography-xl-500-fontfamily: Public Sans;
  --global-typography-xl-500-fontweight: Medium;
  --global-typography-xl-500-lineheight: 28px;
  --global-typography-xl-500-fontsize: 20px;
  --global-typography-xl-500-letterspacing: 0%;
  --global-typography-xl-500-paragraphspacing: 0px;
  --global-typography-xl-500-paragraphindent: 0px;
  --global-typography-xl-500-textcase: none;
  --global-typography-xl-500-textdecoration: none;
  --global-typography-xl-600-fontfamily: Public Sans;
  --global-typography-xl-600-fontweight: SemiBold;
  --global-typography-xl-600-lineheight: 28px;
  --global-typography-xl-600-fontsize: 20px;
  --global-typography-xl-600-letterspacing: 0%;
  --global-typography-xl-600-paragraphspacing: 0px;
  --global-typography-xl-600-paragraphindent: 0px;
  --global-typography-xl-600-textcase: none;
  --global-typography-xl-600-textdecoration: none;
  --global-typography-large-400-fontfamily: Public Sans;
  --global-typography-large-400-fontweight: Regular;
  --global-typography-large-400-lineheight: 24px;
  --global-typography-large-400-fontsize: 18px;
  --global-typography-large-400-letterspacing: 0%;
  --global-typography-large-400-paragraphspacing: 0px;
  --global-typography-large-400-paragraphindent: 0px;
  --global-typography-large-400-textcase: none;
  --global-typography-large-400-textdecoration: none;
  --global-typography-large-500-fontfamily: Public Sans;
  --global-typography-large-500-fontweight: Medium;
  --global-typography-large-500-lineheight: 24px;
  --global-typography-large-500-fontsize: 18px;
  --global-typography-large-500-letterspacing: 0%;
  --global-typography-large-500-paragraphspacing: 0px;
  --global-typography-large-500-paragraphindent: 0px;
  --global-typography-large-500-textcase: none;
  --global-typography-large-500-textdecoration: none;
  --global-typography-large-600-fontfamily: Public Sans;
  --global-typography-large-600-fontweight: SemiBold;
  --global-typography-large-600-lineheight: 24px;
  --global-typography-large-600-fontsize: 18px;
  --global-typography-large-600-letterspacing: 0%;
  --global-typography-large-600-paragraphspacing: 0px;
  --global-typography-large-600-paragraphindent: 0px;
  --global-typography-large-600-textcase: none;
  --global-typography-large-600-textdecoration: none;
  --global-typography-medium-400-fontfamily: Public Sans;
  --global-typography-medium-400-fontweight: Regular;
  --global-typography-medium-400-lineheight: 24px;
  --global-typography-medium-400-fontsize: 16px;
  --global-typography-medium-400-letterspacing: 0%;
  --global-typography-medium-400-paragraphspacing: 0px;
  --global-typography-medium-400-paragraphindent: 0px;
  --global-typography-medium-400-textcase: none;
  --global-typography-medium-400-textdecoration: none;
  --global-typography-medium-500-fontfamily: Public Sans;
  --global-typography-medium-500-fontweight: Medium;
  --global-typography-medium-500-lineheight: 24px;
  --global-typography-medium-500-fontsize: 16px;
  --global-typography-medium-500-letterspacing: 0%;
  --global-typography-medium-500-paragraphspacing: 0px;
  --global-typography-medium-500-paragraphindent: 0px;
  --global-typography-medium-500-textcase: none;
  --global-typography-medium-500-textdecoration: none;
  --global-typography-medium-600-fontfamily: Public Sans;
  --global-typography-medium-600-fontweight: SemiBold;
  --global-typography-medium-600-lineheight: 24px;
  --global-typography-medium-600-fontsize: 16px;
  --global-typography-medium-600-letterspacing: 0%;
  --global-typography-medium-600-paragraphspacing: 0px;
  --global-typography-medium-600-paragraphindent: 0px;
  --global-typography-medium-600-textcase: none;
  --global-typography-medium-600-textdecoration: none;
  --global-typography-small-400-fontfamily: Public Sans;
  --global-typography-small-400-fontweight: Regular;
  --global-typography-small-400-lineheight: 20px;
  --global-typography-small-400-fontsize: 14px;
  --global-typography-small-400-letterspacing: 0%;
  --global-typography-small-400-paragraphspacing: 0px;
  --global-typography-small-400-paragraphindent: 0px;
  --global-typography-small-400-textcase: none;
  --global-typography-small-400-textdecoration: none;
  --global-typography-small-500-fontfamily: Public Sans;
  --global-typography-small-500-fontweight: Medium;
  --global-typography-small-500-lineheight: 20px;
  --global-typography-small-500-fontsize: 14px;
  --global-typography-small-500-letterspacing: 0%;
  --global-typography-small-500-paragraphspacing: 0px;
  --global-typography-small-500-paragraphindent: 0px;
  --global-typography-small-500-textcase: none;
  --global-typography-small-500-textdecoration: none;
  --global-typography-small-600-fontfamily: Public Sans;
  --global-typography-small-600-fontweight: SemiBold;
  --global-typography-small-600-lineheight: 20px;
  --global-typography-small-600-fontsize: 14px;
  --global-typography-small-600-letterspacing: 0%;
  --global-typography-small-600-paragraphspacing: 0px;
  --global-typography-small-600-paragraphindent: 0px;
  --global-typography-small-600-textcase: none;
  --global-typography-small-600-textdecoration: none;
  --global-typography-tiny-400-fontfamily: Public Sans;
  --global-typography-tiny-400-fontweight: Regular;
  --global-typography-tiny-400-lineheight: 16px;
  --global-typography-tiny-400-fontsize: 12px;
  --global-typography-tiny-400-letterspacing: 0%;
  --global-typography-tiny-400-paragraphspacing: 0px;
  --global-typography-tiny-400-paragraphindent: 0px;
  --global-typography-tiny-400-textcase: none;
  --global-typography-tiny-400-textdecoration: none;
  --global-typography-tiny-500-fontfamily: Public Sans;
  --global-typography-tiny-500-fontweight: Medium;
  --global-typography-tiny-500-lineheight: 16px;
  --global-typography-tiny-500-fontsize: 12px;
  --global-typography-tiny-500-letterspacing: 0%;
  --global-typography-tiny-500-paragraphspacing: 0px;
  --global-typography-tiny-500-paragraphindent: 0px;
  --global-typography-tiny-500-textcase: none;
  --global-typography-tiny-500-textdecoration: none;
  --global-typography-tiny-600-fontfamily: Public Sans;
  --global-typography-tiny-600-fontweight: SemiBold;
  --global-typography-tiny-600-lineheight: 16px;
  --global-typography-tiny-600-fontsize: 12px;
  --global-typography-tiny-600-letterspacing: 0%;
  --global-typography-tiny-600-paragraphspacing: 0px;
  --global-typography-tiny-600-paragraphindent: 0px;
  --global-typography-tiny-600-textcase: none;
  --global-typography-tiny-600-textdecoration: none;
  --global-typography-xs-400-fontfamily: Public Sans;
  --global-typography-xs-400-fontweight: Regular;
  --global-typography-xs-400-lineheight: 12px;
  --global-typography-xs-400-fontsize: 11px;
  --global-typography-xs-400-letterspacing: 0%;
  --global-typography-xs-400-paragraphspacing: 0px;
  --global-typography-xs-400-paragraphindent: 0px;
  --global-typography-xs-400-textcase: none;
  --global-typography-xs-400-textdecoration: none;
  --global-typography-xs-500-fontfamily: Public Sans;
  --global-typography-xs-500-fontweight: Medium;
  --global-typography-xs-500-lineheight: 12px;
  --global-typography-xs-500-fontsize: 11px;
  --global-typography-xs-500-letterspacing: 0%;
  --global-typography-xs-500-paragraphspacing: 0px;
  --global-typography-xs-500-paragraphindent: 0px;
  --global-typography-xs-500-textcase: none;
  --global-typography-xs-500-textdecoration: none;
  --global-typography-xs-600-fontfamily: Public Sans;
  --global-typography-xs-600-fontweight: SemiBold;
  --global-typography-xs-600-lineheight: 12px;
  --global-typography-xs-600-fontsize: 11px;
  --global-typography-xs-600-letterspacing: 0%;
  --global-typography-xs-600-paragraphspacing: 0px;
  --global-typography-xs-600-paragraphindent: 0px;
  --global-typography-xs-600-textcase: none;
  --global-typography-xs-600-textdecoration: none;
  --global-text-case-none: none;
  --global-text-case-uppercase: uppercase;
  --global-text-decoration-none: none;
  --global-paragraph-indent-0: 0px;
}
