:root {
  --primary-50: #5eff00;
  --primary-100: #ffe7d6;
  --primary-200: #ffcead;
  --primary-300: #ffb685;
  --primary-400: #ff9d5c;
  --primary-500: #fa8232;
  --primary-600: #de732d;
  --primary-700: #99501f;
  --primary-800: #663514;
  --primary-900: #331b0a;
  --secondary-50: #eaf6fe;
  --secondary-100: #d5edfd;
  --secondary-200: #abdbfa;
  --secondary-300: #81c9f8;
  --secondary-400: #57b7f5;
  --secondary-500: #2da5f3;
  --secondary-600: #2484c2;
  --secondary-700: #1b6392;
  --secondary-800: #124261;
  --secondary-900: #092131;
  --gray-50: #f2f4f5;
  --gray-100: #e4e7e9;
  --gray-200: #c9cfd2;
  --gray-300: #adb7bc;
  --gray-400: #929fa5;
  --gray-500: #77878f;
  --gray-600: #5f6c72;
  --gray-700: #475156;
  --gray-800: #303639;
  --gray-900: #191c1f;
  --gray-00: #ffffff;
  --success-50: #eaf7e9;
  --success-100: #d5f0d3;
  --success-200: #abe0a7;
  --success-300: #81d17c;
  --success-400: #57c150;
  --success-500: #2db224;
  --success-600: #248e1d;
  --success-700: #1b6b16;
  --success-800: #12470e;
  --success-900: #092407;
  --warning-50: #fdfae7;
  --warning-100: #fbf4ce;
  --warning-200: #f7e99e;
  --warning-300: #f3de6d;
  --warning-400: #efd33d;
  --warning-500: #ebc80c;
  --warning-600: #bca00a;
  --warning-700: #8d7807;
  --warning-800: #5e5005;
  --warning-900: #2f2802;
  --danger-50: #fdeeee;
  --danger-100: #fcdede;
  --danger-200: #f8bcbc;
  --danger-300: #f59b9b;
  --danger-400: #f17979;
  --danger-500: #ee5858;
  --danger-600: #be4646;
  --danger-700: #8f3535;
  --danger-800: #5f2323;
  --danger-900: #301212;
  --test-50: #5eff00;
  --test-100: #e4e7e9;
  --test-200: #c9cfd2;
  --test-300: #adb7bc;
  --test-400: #929fa5;
  --test-500: #77878f;
  --test-600: #5f6c72;
  --test-700: #475156;
  --test-800: #303639;
  --test-900: #191c1f;
  --test-00: #ffffff;
  --dropdown-shadow: 0px 8px 40px 0px #0000001f;
  --display-01: fontfamily=Public Sans | fontweight=SemiBold | lineheight=72 | fontsize=64 | letterspacing=0% | paragraphspacing=0 | paragraphindent=0px | textcase=none | textdecoration=none;
  --display-02: fontfamily=Public Sans | fontweight=SemiBold | lineheight=64 | fontsize=56 | letterspacing=0% | paragraphspacing=0 | paragraphindent=0px | textcase=none | textdecoration=none;
  --display-03: fontfamily=Public Sans | fontweight=SemiBold | lineheight=56 | fontsize=48 | letterspacing=0% | paragraphspacing=0 | paragraphindent=0px | textcase=none | textdecoration=none;
  --display-04: fontfamily=Public Sans | fontweight=SemiBold | lineheight=48 | fontsize=40 | letterspacing=0% | paragraphspacing=0 | paragraphindent=0px | textcase=none | textdecoration=none;
  --display-05: fontfamily=Public Sans | fontweight=SemiBold | lineheight=44 | fontsize=36 | letterspacing=0% | paragraphspacing=0 | paragraphindent=0px | textcase=none | textdecoration=none;
  --heading-01: fontfamily=Public Sans | fontweight=SemiBold | lineheight=40 | fontsize=32 | letterspacing=0% | paragraphspacing=0 | paragraphindent=0px | textcase=none | textdecoration=none;
  --heading-02: fontfamily=Public Sans | fontweight=SemiBold | lineheight=32 | fontsize=28 | letterspacing=0% | paragraphspacing=0 | paragraphindent=0px | textcase=none | textdecoration=none;
  --heading-03: fontfamily=Public Sans | fontweight=SemiBold | lineheight=32 | fontsize=24 | letterspacing=0% | paragraphspacing=0 | paragraphindent=0px | textcase=none | textdecoration=none;
  --heading-06: fontfamily=Public Sans | fontweight=Bold | lineheight=56 | fontsize=16 | letterspacing=1.2% | paragraphspacing=0 | paragraphindent=0px | textcase=uppercase | textdecoration=none;
  --heading-07: fontfamily=Public Sans | fontweight=Bold | lineheight=48 | fontsize=14 | letterspacing=1.2% | paragraphspacing=0 | paragraphindent=0px | textcase=uppercase | textdecoration=none;
  --label-01: fontfamily=Public Sans | fontweight=Medium | lineheight=28 | fontsize=18 | letterspacing=0% | paragraphspacing=0 | paragraphindent=0px | textcase=uppercase | textdecoration=none;
  --label-02: fontfamily=Public Sans | fontweight=Medium | lineheight=24 | fontsize=16 | letterspacing=0% | paragraphspacing=0 | paragraphindent=0px | textcase=uppercase | textdecoration=none;
  --label-03: fontfamily=Public Sans | fontweight=Medium | lineheight=20 | fontsize=14 | letterspacing=0% | paragraphspacing=0 | paragraphindent=0px | textcase=uppercase | textdecoration=none;
  --label-04: fontfamily=Public Sans | fontweight=Medium | lineheight=150% | fontsize=12 | letterspacing=0% | paragraphspacing=0 | paragraphindent=0px | textcase=uppercase | textdecoration=none;
  --label-05: fontfamily=Public Sans | fontweight=Medium | lineheight=16 | fontsize=11 | letterspacing=0% | paragraphspacing=0 | paragraphindent=0px | textcase=uppercase | textdecoration=none;
}
